body{
	margin: 0;
	font-family: sans-serif, ;
	font-size: 20px;
	line-height: 30px;

}

header{
	background-color: #DFFF00 ;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 30px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

header h1{
	color: #DE3163 ;
}
header img {
    border-radius: 190px;
    width: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;


}

main img{
	max-width: 100%;
}

h2{
	font-size: 25px;
	color: #FF7F50;
	margin: 40px 0 10px;
}

a{
	color: #FF7F50;
}
a:hover{
	background-color: #9FE2BF ;
	color: #483a94;
}

footer{
	background-color: #DFFF00 ;
	text-align: center;
	padding: 30px;
}

footer p{
	margin: 0;
}

p.caption{
	color: lightgray;
	font-style: italic;
	margin-top: 0;
}